
@media(max-width:850px){
  .middle{
    display: none;
  }
  .book{
    padding: 13px 30px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0px;
  }
  .customer-info-grid{
    display: grid;
    grid-template-columns:1fr;
    row-gap: 7%;
    column-gap: 40px;
    padding: 10px;
  }
  .customer-review h2{
    font-size: 30px;
  }
  .customer-review h4{
    font-size: 16px;
  }

}


@media(max-width:500px){
  .hero-container h1{
    font-size: 40px;
  }
  .hero-container{
    height: 50vh;
    width: 95%;
  }
  .hero-elements{
    width: 100%;
    padding: 20px 5px; 
  }
  .swipe button img{
    height: 24px;
  }

  .text-container h1{
    font-size: 40px;
  }
  .grid-1 h2{
    font-size: 16px;

  }
  .grid-1 h4{
    font-weight: 400;
    font-size: 14px;
  }
  .swipe button img{
    height: 24px;
    width: 24px;
  }
  .tour-cards img{
    height: 200px;
  }
  .tour-container h1{
    font-size: 30px;
  }
  footer h4{
    font-size: 16px;

  }
  footer h5{
    font-size: 14px;
  }
  footer input{
    transform: scale(0.8)

  }
  footer img{
    height: 30px;
  }

  footer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer div{

    width: fit-content;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
  footer .div2{
    display: none;
  }
  .main-section{
    padding-bottom: 100px;
  }

}


@media(max-width:700px){
  .hero-container{
    padding-bottom: 200px;
  }

}

@media(max-width:900px){
  .grids{
    grid-template-columns: repeat(2,1fr);

  }
  .tour-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
  }
  


}